#seccion-uno{
    /* background-color: rgb(200, 131, 90); */
    /* Formato hexadecimal */
    background-color: #f5dc23;
}

.articulo-seccion-uno{
    background-color: blue;
}

/* Version extensa */
/* .titulo-articulo{
    color: white;
}

.descripcion-articulo{
    color: white;
} */

/* Version abreviada: Este se usa cuando uno o varios elementos (ETIQUETAS) HTML comparten los mismos estilos */
.titulo-articulo, .descripcion-articulo, .enlace-articulo{
    color: white;
    /* font-family: cursive; */
    /* font-family: 'Courier New'; */
    font-family: cursive;
}

/* Tipogrofias */
/* ¿Como puedo cambiar la tipografia? */
/* .titulo-articulo{
    font-family: cursive;
} */

/* Se desea tener el titulo de cada articulo con un tamaño de 40px y la descripcion y enlace en 18px */

.titulo-articulo{
    font-size: 40px;
    font-style: italic;
}

.descripcion-articulo, .enlace-articulo{
    /* Tamaños especificos */
    /* font-size: 80px; */

    /* tamaños Predifinidos */
    /* font-size: xx-small; */
    font-size: xx-large;
}

.descripcion-articulo{

    /* Valores predefinidos */
    font-weight: bolder;

    /* Valores especificos */
    /* font-weight: 600; */
}

.enlace-articulo{
    
    /* Valores predefinidos */
    font-weight: lighter;
    
    /* Valores especificos */
    /* font-weight: 600; */
}